.home-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
}

.home-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
